@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima/ProximaNova-Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima/ProximaNova-Sbold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima/ProximaNova-Reg.ttf');
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima/ProximaNova-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proxima/ProximaNova-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-Black.ttf');
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-ExtraBold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/Raleway-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: ZonaMagang;
  src: url('../fonts/smoothcircular/Smooth Circulars.otf');

}
